@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*{
    padding: none;
    margin: none;
}


.frame {

    background-color: #161616;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.frame .div {
    background-color: #161616;
    overflow: hidden;
    width: 1440px;
    height: 3224px;
    position: relative;
}

.frame .text-wrapper {
    position: absolute;
    width: 264px;
    top: 30px;
    left: 80px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .text-wrapper-2 {
    position: absolute;
    width: 107px;
    top: 30px;
    left: 981px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-2 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.text-wrapper-2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.text-wrapper-2:active {
    color: #000
}

.text-wrapper-2:active:after {
    background: transparent;
}

.text-wrapper-2:hover:before {
    opacity: 1;
}

.text-wrapper-2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.frame .text-wrapper-3 {
    position: absolute;
    width: 80px;
    top: 30px;
    left: 1128px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-3 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.text-wrapper-3:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.text-wrapper-3:active {
    color: #000
}

.text-wrapper-3:active:after {
    background: transparent;
}

.text-wrapper-3:hover:before {
    opacity: 1;
}

.text-wrapper-3:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.frame .overlap-group {
    position: absolute;
    width: 108px;
    height: 42px;
    top: 24px;
    left: 1264px;
}

.frame .div-2 {
    width: 96px;
    height: 36px;
    top: 0;
    background-color: #ffffff;
    border-radius: 30px;
    position: absolute;
    left: 0;
}

.frame .text-wrapper-4 {
    position: absolute;
    width: 80px;
    top: 30px;
    left: 1300px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #161616;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}


.text-wrapper-4 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.text-wrapper-4:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.text-wrapper-4:active {
    color: #000
}

.text-wrapper-4:active:after {
    background: transparent;
}

.text-wrapper-4:hover:before {
    opacity: 1;
}

.text-wrapper-4:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.frame .ellipse {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 132px;
    left: 80px;
}

body {
	display: felx;
	background: #000;
	align-items: center;
	justify-content: center;
    padding: none;
    margin: none;
}

.frame .i-AM-a-WEB-DEVELOPER{
	display: absolute;
	background: #000;
    text-align: center;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.i-AM-a-WEB-DEVELOPER h2 {
	color: #fff;
    top: 150px;
	font-size: 6em;
    text-align: center;
    align-items: center;
	position: absolute;
    transform: translate(10%,10%);
}

/* .i-AM-a-WEB-DEVELOPER h2:nth-child(1) {
    color: white;               if i want a transparent background
    -webkit-text-stroke: 2px ;
  } */

.i-AM-a-WEB-DEVELOPER h2:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


.frame .welcome-to-my {
    position: absolute;
    top: 375px;
    left: 14%;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }

.welcome-to-my {
    width: 101ch;
    animation: typing 10s steps(101), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }

.welcome-to-my {
    margin: auto;
    color: white;
    font: 700 normal 3em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* .frame .image {
    width: 1280px;
    height: 893px;
    top: 780px;
    left: 80px;
    position: absolute;
    object-fit: cover;
} */

/* .frame .ellipse-2 {
    position: absolute;
    width: 267px;
    height: 269px;
    top: 176px;
    left: 1093px;
    background-color: #d9d9d9;
    border-radius: 133.5px/134.5px;
} */

.frame .text-wrapper-6 {
    position: absolute;
    width: 200px;
    top: 810px;
    left: 161px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-7 {
    position: absolute;
    width: 200px;
    top: 810px;
    left: 470px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-8 {
    position: absolute;
    width: 200px;
    top: 810px;
    left: 1127px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-9 {
    position: absolute;
    width: 200px;
    top: 810px;
    left: 790px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

/* .frame .div-3 {
    width: 1440px;
    height: 370px;
    top: 1748px;
    background-color: #282828;
    position: absolute;
    left: 0;
} */

.frame .text-wrapper-10 {
    position: absolute;
    width: 464px;
    top: 2194px;
    left: 60px;
    font-family: "Inter-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .web-development {
    width: 250px;
    top: 2292px;
    left: 60px;
    font-family: "Inter-ExtraLight", Helvetica;
    font-weight: 200;
    font-size: 40px;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.frame .UI-UX-design {
    position: absolute;
    width: 173px;
    top: 2292px;
    left: 497px;
    font-family: "Inter-ExtraLight", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .database-management {
    position: absolute;
    width: 264px;
    top: 2292px;
    left: 995px;
    font-family: "Inter-ExtraLight", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .img {
    width: 628px;
    height: 306px;
    top: 2450px;
    left: 60px;
    position: absolute;
    object-fit: cover;
}

.frame .image-2 {
    width: 628px;
    height: 306px;
    top: 2450px;
    left: 765px;
    position: absolute;
    object-fit: cover;
}

.frame .overlap {
    position: absolute;
    width: 1440px;
    height: 301px;
    top: 2923px;
    left: 0;
    background-color: #282828;
}

.frame .rectangle {
    position: relative;
    width: 558px;
    height: 158px;
    top: 72px;
    left: 835px;
    background-color: #cf09d9;
    border-radius: 24px;
}
